.allCenter{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hCenter{
  position: absolute;
  left: 50%;
  top: 125%;
  transform: translate(-50%, -50%);
}

body {
  background-image: url("https://source.unsplash.com/tB-nas0ZU2k/1280x800");
  background-size: cover;
}


.parentTest{
  display: flex;
  align-items: flex-start;
}

.test{
  display: flex;
  justify-content: center;
  align-items: center;
}