.allCenter{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hCenter{
  position: absolute;
  left: 50%;
  top: 125%;
  transform: translate(-50%, -50%);
}

body {
  background-image: url("https://source.unsplash.com/tB-nas0ZU2k/1280x800");
  background-size: cover;
}


.parentTest{
  /* position: absolute; top: 0; left: 0; height: 100%; width: 100%; */
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  text-align: center;
  align-content: center;
  /* justify-content: center; */
}

.text{
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: azure;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.test{
  color: azure;
  font-size: 80px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.test2{
  color: azure;
  font-size: 60px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}